*{
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

header{
  margin: 20px 0;
  text-align: center;
}

.nav-list{
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-top: 1px solid #848282;
  border-bottom:  1px solid #848282;
}

.nav-list-item{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

main{
  margin: 50px auto;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

box{
  width: 200px;
  height: 200px;
  background-color: ;
}